
.button{
	background: 
    linear-gradient(#000 0 0) padding-box, /*this is your grey background*/
    linear-gradient(0turn, #5E84D2, #8B3375) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}